.kawa-icon {
    --kawa-icon-color: inherit;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    fill: currentColor;
    color: var(--kawa-icon-color);
    font-size: inherit;
}

@each $val in primary, info, success, warning, danger {
    .kawa-icon--$(val) {
        --kawa-icon-color: var(--kawa-color-$(
                val)
        );
}
}